body{
    padding-top: 80px;
}

.fade-enter-setup{
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.0s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.0s;
    -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.0s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.0s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.0s;
    opacity: 0;
}

.fade-enter-start{
    opacity: 1;
}