<ul class="nav nav-tabs">
    <li class="active"><a href="#/manage/add">Add a Feed</a></li>
    <li><a href="#/manage">Feeds</a></li>
</ul>

<div class="row">
    <div class="span6">
        <form class="form-horizontal" ng-submit="lookup()">
            <fieldset>
                <legend>Lookup a feed URL</legend>
                <div class="control-group ">
                    <label class="control-label" for="lookup-url">URL</label>

                    <div class="controls">
                        <input id="lookup-url" name="url" type="url" placeholder="http://www.cacodaemon.de" required
                               ng-model="lookup.url" class="input-xlarge"/>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Lookup</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span6">
        <form class="form-horizontal" ng-submit="add()">
            <fieldset>
                <legend>Add a feed</legend>

                <div class="control-group ">
                    <label class="control-label" for="add-title">Title</label>

                    <div class="controls">
                        <input id="add-title" name="title" type="text" required
                               ng-model="feed.title"  class="input-xlarge"/>
                    </div>
                </div>

                <div class="control-group ">
                    <label class="control-label" for="add-url">Feed URL</label>

                    <div class="controls">
                        <input id="add-url" name="url" type="url" placeholder="www.cacodaemon.de" required
                               ng-model="feed.url"  class="input-xlarge"/>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>